@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0D1017;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D1017;
    --foreground: #ededed;
    --accent: #C8AB8B;
    --secondary: #BFB3A5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}


/* Countdown */

.countdown__container {
  display: flex;
  height: auto;
  -ms-flex-pack: distribute;
  justify-content: center;
  margin: auto;
}

.countdown__card {
  text-align: center;
  margin: 0 1rem;
  color: var(--secondary);
}

.countdown__card__number {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  line-height: 200%;
}

.countdown__card__label {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  line-height: 0;
  text-transform: uppercase;
}

/* Mouse */
.star {
	position: fixed;
	pointer-events: none;
}

.star:before, .star:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '\2726';
	font-size: 9px;
}

.star:before {
	color: transparent;
	text-shadow: 0 0 3px var(--secondary);
}

.star:after {
	background: var(--accent);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Loader spinner */

.spinner-container {
  position: relative;
  width: 100px; /* Adjust as needed */
  height: 100px;
  margin: auto;
}

.static-letters {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotating-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust size as needed */
  height: 100%;
  transform-origin: center;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}